	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	  opacity: 1;
	}

	.axis text { font-size:13px; }
	.axis y label{color:red;}
	
	body { font: 15px sans-serif; }
	.circles { opacity: 1; }

	.tipsy { font-size:13px; margin-top:-10px;}

	.guide line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	  opacity: 0;
	}
	
	text{
	fill: #aa9977;
	}